# general
PIPELINE_DIRECTORY=/path/to/your/pipeline/directory
BUILD_DIRECTORY=${PIPELINE_DIRECTORY}/builds

# docker 
DOCKER_IMAGE=tenantcloud/pipeline

# bitbucket
CLIENT_ID=WWWWWWWWWWWWWWWWWW
CLIENT_SECRET=YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
GRANT_TYPE=client_credentials

# repository
BITBUCKET_USERNAME=username
REPO_SLUG=repository_name
BITBUCKET_KEY=KEY

# slack
SLACK_CLI_TOKEN="xxxx-1234567890-123456789012-GkhjgKuyYu65768979GKretQ"
SLACK_BOT_NAME="Pipeline Bot"
SLACK_CHANNEL="#general"
