# general
PIPELINE_DIRECTORY=$(pwd) # or you can configure manually. e.g. /path/to/your/pipeline/directory
BUILD_DIRECTORY=${PIPELINE_DIRECTORY}/builds

# docker 
DOCKER_IMAGE=tenantcloud/pipeline

# bitbucket
CLIENT_ID=WWWWWWWWWWWWWWWWWW
CLIENT_SECRET=YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

# slack
SLACK_CLI_TOKEN="xxxx-1234567890-123456789012-GkhjgKuyYu65768979GKretQ"
SLACK_BOT_NAME="Pipeline Bot"
SLACK_CHANNEL="#general"
